.Container {
  background-color: indigo;
  height: 100vh;
  padding-top: 10%;
}

.Foreground {
  background-color: white;
  height: 80%;
  width: 80%;
  margin: auto;
}

.Main{
  display: inline-block;
  height: 100%;
  width: 70%;
}

.Privacy{
  background-color: purple;
  color: white;
  display: inline-block;
  height: 100%;
  width: 30%;
  float: right;
  overflow: scroll;
}

.Privacy__image{
  width: 50%;
  margin: auto;
  display: block;
}

.Privacy__title{
  display: inline-block;
  padding: 3%;
  text-align: center;
}

.Privacy__text{
  display: inline-block;
  padding: 3%;

}

.Button{
  background-color: orange;
  color: white;
}

.Video{
  display: inline-block;
  width: 80%;
  object-fit: contain;
  margin: auto;
}
